*
!app
!data
!old
!src
!test
!ChangeLog.md
!README.md
!LICENSE
!zugai.cabal
!Setup.hs
!discord_bot.py
!web_server.py
!zugai.py
!package.yaml
!stack.yaml
!stack.yaml.lock
!web-client/public
!web-client/src
!web-client/package.json
!web-client/package-lock.json
!web-client/tsconfig.json
